.App {
    text-align: center;
    background-color: #002b487d;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ui.fluid.left.icon.input input[type='text'] {
    background-color: rgb(87 194 226 / 20%);
    font-weight: bold;
    font-size: x-large;
    color: #fff;
}

/* Find Phone Number */
.ui.fluid.left.icon.input input[type='tel'] {
    background-color: rgb(87 194 226 / 20%);
    font-weight: bold;
    font-size: x-large;
    color: #fff;
}

/* Find Membership Number */
.ui.fluid.left.icon.input input[type='text'] {
    background-color: rgb(87 194 226 / 20%);
    font-weight: bold;
    font-size: x-large;
    color: #fff;
}

.ui.fluid.left.icon.input input[type='password'] {
    background-color: rgb(87 194 226 / 20%);
    font-weight: bold;
    font-size: x-large;
    color: #fff;
}

/* Login From Input Icon */
.field.whiteIcon i.icon {
    color: white;
}

.field.blueIcon i.icon {
    /* color: #006cb5; */
    color: #40b2ff;
}

/* LOGIN FORM */
.field.blueIcon div.input input[type='text']::-webkit-input-placeholder {
    color: #fff;
}
.field.blueIcon div.input input[type='password']::-webkit-input-placeholder {
    color: #fff;
}

/* FIND BUTTON */
.field.FindButton button {
    background-color: #006cb575;
    color: #fff;
}

/* LOGIN BUTTON */
.field.fade.LoginButton.visible.transition button {
    background-color: #006cb575;
}

/* LOGOUT BUTTON */
.field.fade.LogoutButton.visible.transition button {
    background-color: #006cb575;
    color: #fff;
}

.ui.massive.circular.fluid.icon.right.labeled.button.LogoutButton {
    background-color: #006cb575;
    color: #fff;
}

.lock.icon {
    color: turquoise;
}

.phone.icon {
    color: turquoise;
    /* color: #2185d0; */
}

.address.card.icon {
    color: turquoise;
}

.id.badge.icon {
    color: turquoise;
}

.ui.message {
    text-align: left;
}

/* BuyAccount */
.two.wide.field.BuyAccount label {
    color: #fff;
}

.two.wide.field.BuyAccount div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.two.wide.field.BuyAccount div.ui.inverted.left.icon.input i {
    color: #00bcd4;
    /* color: #2185d0; */
    /* color: #fff; */
}

/* LastRenew*/
.three.wide.field.LastRenew label {
    color: #fff;
}

.three.wide.field.LastRenew div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.three.wide.field.LastRenew div.ui.inverted.left.icon.input i {
    color: #00bcd4;
    /* color: #2185d0; */
    /* color: #fff; */
}

/* LastRenew*/
.two.wide.field.LastRenew label {
    color: #fff;
}

.two.wide.field.LastRenew div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.two.wide.field.LastRenew div.ui.inverted.left.icon.input i {
    color: #00bcd4;
    /* color: #2185d0; */
    /* color: #fff; */
}

/* 3 BuyAccount */
.three.wide.field.BuyAccount label {
    color: #fff;
}

.three.wide.field.BuyAccount div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.three.wide.field.BuyAccount div.ui.inverted.left.icon.input i {
    color: #00bcd4;
    /* color: #fff; */
}

/* RecordAccount */
.two.wide.field.BuyRecord label {
    color: #fff;
}

.two.wide.field.BuyRecord div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.two.wide.field.BuyRecord div.ui.inverted.left.icon.input i {
    color: #00bcd4;
    /* color: #fff; */
}

/* SinceAccount */
.three.wide.field.BuySince label {
    color: #fff;
}
.three.wide.field.BuySince div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    /* color: black; */
    background-color: #002b487d;
}
.three.wide.field.BuySince div.ui.inverted.left.icon.input i {
    color: #00bcd4;
}

/* TodayDate Buy */
.three.wide.field.TodayDate label {
    color: #fff;
}
.three.wide.field.TodayDate div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.three.wide.field.three.wide.field.TodayDate div.ui.inverted.left.icon.input i {
    color: #00bcd4;
    /* color: #fff; */
}

/* 3 RecordAccount */
.three.wide.field.BuyRecord label {
    color: #fff;
}

.three.wide.field.BuyRecord div.ui.inverted.left.icon.input input {
    /* background-color: black; */
    color: white;
    background-color: #002b487d;
}
.three.wide.field.BuyRecord div.ui.inverted.left.icon.input i {
    color: #fff;
}

.ui.page.modals.dimmer.transition.visible.active {
    /* background-color: #006cb575; */
    background-color: #002b487d;
}
